/* ++++++++++++++++++++++++
+++++++++++++++++++++++++++   TEMPLATE
*/
%btn {
  @extend %type--button_copy;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: $font-stack-helvetica;
}

%btn_secondary {
  border: solid;
  border-width: .1rem;
}



/* ++++++++++++++++++++++++
+++++++++++++++++++++++++++   Primary
*/
.primary {
  @extend %btn;
  background-color: colour('primary');
}

.primary.orange {
  @extend %btn;
  background-color: colour('orange');
}

.primary.onColour {
  @extend %btn;
  background-color: white;
  color: colour('primary');
}

/* ++++++++++++++++++++++++
+++++++++++++++++++++++++++   Secondary
*/
.secondary {
  @extend %btn;
  @extend %btn_secondary;
  color: colour('primary');
  background-color: white;
  border-color: colour('primary');
}


.secondary.onColour {
  @extend %btn;
  background-color: colour('primary');
  border-color: white;
}


/*
@mixin btn {
  color: white;
  padding: 32px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: $font-stack-helvetica;
}

a.primary {
  @include btn;
  background-color: colour('primary');
}

a.primary.orange {
  @include btn;
  background-color: colour('secondary');
}
*/
