//#######################################################
//####################################################### SETUP
//#######################################################
/*---------------------------------
1. Page setup
----------------------------------*/
body,
html {
    height: 100%;
}

/*---------------------------------
2. Breakpoints
----------------------------------*/
$neat-grid: ( columns: 1, gutter: 1rem, );
$neat-small: ( columns: 2, gutter: 1rem, media: "(min-width: 600px)", color: rgba(#6DD00C, 0.25), direction: ltr, );
$neat-medium: ( columns: 6, gutter: 1rem, media: "(min-width: 900px)", color: rgba(#F4D0E7, 0.25), direction: ltr, );
$neat-large: ( columns: 12, gutter: 1rem, media: "(min-width: 1200px)", color: rgba(#00d4ff, 0.25), direction: ltr,);

//#######################################################
//####################################################### CLASSES
//#######################################################
/*---------------------------------
3. Container
----------------------------------*/
section,
.container {
  @include grid-container;
  @include grid-visual;

  @include grid-media($neat-small) {
       @include grid-container($neat-small);
       @include grid-visual;
  }
  @include grid-media($neat-medium) {
       @include grid-container($neat-medium);
       @include grid-visual;
  }
  @include grid-media($neat-large) {
       @include grid-container($neat-large);
       @include grid-visual;
  }
}

/*---------------------------------
4. Standard Columns
----------------------------------*/
.full-column {
    @include grid-column(1);
}

.half-column {
    @include grid-column(1);
    @include grid-media($neat-small) {
         @include grid-column(1);
    }
    @include grid-media($neat-medium) {
         @include grid-column(3);
    }
    @include grid-media($neat-large) {
         @include grid-column(6);
    }
}

.one-thirds-column {
    @include grid-column(1);
    @include grid-media($neat-small) {
         @include grid-column(2);
    }
    @include grid-media($neat-medium) {
         @include grid-column(2);
    }
    @include grid-media($neat-large) {
         @include grid-column(4);
    }
}

.fourth-column {
    @include grid-column(1);
    @include grid-media($neat-small) {
         @include grid-column(1);
    }
    @include grid-media($neat-medium) {
         @include grid-column(3);
    }
    @include grid-media($neat-large) {
         @include grid-column(3);
    }
}

.sixth-column {
    @include grid-column(1);
    @include grid-media($neat-small) {
         @include grid-column(1);
    }
    @include grid-media($neat-medium) {
         @include grid-column(2);
    }
    @include grid-media($neat-large) {
         @include grid-column(2);
    }
}

.twelfth-column {
    @include grid-column(1);
    @include grid-media($neat-small) {
         @include grid-column(1);
    }
    @include grid-media($neat-medium) {
         @include grid-column(2);
    }
    @include grid-media($neat-large) {
         @include grid-column(1);
    }
}

.two-thirds-column {
    @include grid-column(1);
    @include grid-media($neat-small) {
         @include grid-column(2);
    }
    @include grid-media($neat-medium) {
         @include grid-column(4);
    }
    @include grid-media($neat-large) {
         @include grid-column(8);
    }
}
